In [1]:
import pandas as pd
from pandas import DataFrame
import dateutil.parser
import json

CPI_2015_data=pd.read_excel('../build/CPI_2015_data.xlsx')
CPI_2015_data=CPI_2015_data[CPI_2015_data.Region.isin(['ECA','WE/EU'])]

WDI_data=pd.read_csv('../build/WDI_data.csv')
WDI_data_2015=WDI_data[['Country Code','Indicator Code','2015']][WDI_data['Country Code'].isin(CPI_2015_data.wbcode)] \
    .set_index(['Country Code','Indicator Code']).unstack()['2015'][['SP.POP.TOTL','NY.GDP.MKTP.CD', 'NY.GDP.PCAP.CD','EN.POP.DNST']] \
    .reset_index().rename(columns={
            'Country Code':'countryCode',
            'SP.POP.TOTL':'totalPopulation',
            'NY.GDP.MKTP.CD':'gdpUsd',
            'NY.GDP.PCAP.CD':'gdpPerCapitaUsd',
            'EN.POP.DNST' : 'populationDensity',
        }).rename_axis(None,axis=1)
    
WDI_data_2014=WDI_data[['Country Code','Indicator Code','2014']][WDI_data['Country Code'].isin(CPI_2015_data.wbcode)] \
    .set_index(['Country Code','Indicator Code']).unstack()['2014'][['SL.UEM.TOTL.ZS','SL.UEM.TOTL.NE.ZS']] \
    .reset_index().rename(columns={
            'Country Code':'countryCode',
            'SL.UEM.TOTL.ZS' : 'unemploymentIlo',
            'SL.UEM.TOTL.NE.ZS' : 'unemploymentNat'
        }).rename_axis(None,axis=1)
    
WDI_data=WDI_data_2015.merge(WDI_data_2014)

In [14]:
import pandas as pd
from pandas import DataFrame
import dateutil.parser
import json

KSV_data=pd.read_csv('../build/API_KSV_DS2_en_csv_v2.csv', skiprows=4)
KSV_data_2015=KSV_data[['Country Code','Indicator Code','2015']] \
    .set_index(['Country Code','Indicator Code']).unstack()['2015'][['SP.POP.TOTL','NY.GDP.MKTP.CD', 'NY.GDP.PCAP.CD','EN.POP.DNST']] \
    .reset_index().rename(columns={
            'Country Code':'countryCode',
            'SP.POP.TOTL':'totalPopulation',
            'NY.GDP.MKTP.CD':'gdpUsd',
            'NY.GDP.PCAP.CD':'gdpPerCapitaUsd',
            'EN.POP.DNST' : 'populationDensity',
        }).rename_axis(None,axis=1)
    
KSV_data_2012=KSV_data[['Country Code','Indicator Code','2012']] \
    .set_index(['Country Code','Indicator Code']).unstack()['2012'][['SL.UEM.TOTL.ZS','SL.UEM.TOTL.NE.ZS']] \
    .reset_index().rename(columns={
            'Country Code':'countryCode',
            'SL.UEM.TOTL.ZS' : 'unemploymentIlo',
            'SL.UEM.TOTL.NE.ZS' : 'unemploymentNat'
        }).rename_axis(None,axis=1)
    
KSV_data=KSV_data_2015.merge(KSV_data_2012)

KSV_data

,countryCode,totalPopulation,gdpUsd,gdpPerCapitaUsd,populationDensity,unemploymentIlo,unemploymentNat
0,KSV,1797151.0,6.385938e+09,3553.367343,165.073115,NaN,30.9

In [28]:
'build/API_KSV_DS2_en_csv_v2.csv'

,countryCode,totalPopulation,gdpUsd,gdpPerCapitaUsd,populationDensity,unemploymentIlo,unemploymentNat
0,ALB,2889167.0,1.145560e+10,3965.016806,105.444051,16.100000,17.500000
1,ARM,3017712.0,1.056140e+10,3499.804218,105.996207,17.100000,NaN
2,AUT,8611088.0,3.740559e+11,43438.863038,104.337619,5.000000,5.600000
3,AZE,9651349.0,5.304714e+10,5496.344640,116.761018,5.200000,4.900000
4,BEL,11285721.0,4.540390e+11,40231.283174,372.712054,8.500000,8.500000
5,BGR,7177991.0,4.895296e+10,6819.869108,66.120035,11.600000,11.400000
6,BIH,3810416.0,1.599539e+10,4197.807304,74.422188,27.900000,NaN
7,BLR,9513000.0,5.460896e+10,5740.456495,46.882854,5.900000,0.500000
8,CHE,8286976.0,6.647375e+11,80214.730152,209.711914,4.500000,4.500000
9,CYP,1165300.0,1.931973e+10,22957.397983,126.114719,15.600000,16.100000
10,CZE,10551219.0,1.818110e+11,17231.281711,136.620730,6.200000,6.100000
11,DEU,81413145.0,3.355772e+12,41219.049207,233.583362,5.000000,5.000000
12,DNK,5676002.0,2.951643e+11,52002.151044,133.773321,6.600000,6.600000
13,ESP,46418269.0,1.199057e+12,25831.582305,92.797563,24.700001,24.400000
14,EST,1311998.0,2.269148e+10,17295.363830,30.950649,7.700000,7.400000
15,FIN,5482013.0,2.298104e+11,41920.797746,18.039465,8.600000,8.700000
16,FRA,66808385.0,2.421682e+12,36248.180191,122.011745,9.900000,9.900000
17,GBR,65138232.0,2.848755e+12,43734.000171,269.244128,6.300000,6.100000
18,GEO,3679000.0,1.396539e+10,3795.973308,64.365443,13.400000,12.400000
19,GRC,10823732.0,1.952120e+11,18035.554320,83.969992,26.299999,26.500000
20,HRV,4224404.0,4.873200e+10,11535.829356,75.489707,16.700001,17.299999
21,HUN,9844686.0,1.206871e+11,12259.115028,108.745013,7.800000,7.700000
22,IRL,4640703.0,2.380204e+11,51289.730435,67.363957,11.600000,11.300000
23,ISL,330823.0,1.659849e+10,50173.339916,3.299980,5.000000,4.900000
24,ITA,60802085.0,1.814763e+12,29847.049785,206.711379,12.500000,12.700000
25,KAZ,17544126.0,1.843606e+11,10508.396403,6.498547,4.100000,5.100000
26,KGZ,5957000.0,6.571854e+09,1103.215352,31.058394,8.100000,NaN
27,LTU,2910199.0,4.124398e+10,14172.221070,46.433171,11.300000,10.700000
28,LUX,569676.0,5.779361e+10,101449.968168,219.952124,6.100000,5.900000
29,LVA,1978440.0,2.703527e+10,13664.941428,31.812832,10.000000,10.800000
30,MDA,3554150.0,6.551161e+09,1843.242802,123.764669,3.400000,3.900000
31,MKD,2078453.0,1.008602e+10,4852.657847,82.412887,27.900000,28.000000
32,MLT,431333.0,NaN,NaN,1347.915625,5.900000,5.900000
33,NLD,16936520.0,7.525474e+11,44433.414329,503.015147,6.900000,6.800000
34,NOR,5195921.0,3.883149e+11,74734.564090,14.225851,3.400000,3.500000
35,POL,37999494.0,4.747834e+11,12494.466190,124.096189,9.200000,9.000000
36,PRT,10348648.0,1.989314e+11,19222.935598,112.976507,14.200000,13.900000
37,ROM,19832389.0,1.779545e+11,8972.922518,86.216533,7.000000,6.800000
38,RUS,144096812.0,1.326015e+12,9057.113060,8.798801,5.100000,5.200000
39,SVK,5424050.0,8.658179e+10,15962.572239,112.794252,13.300000,13.200000
40,SVN,2063768.0,4.274698e+10,20713.074746,102.471102,9.500000,9.700000
41,SWE,9798871.0,4.926181e+11,50272.941502,24.055754,8.000000,8.000000
42,TJK,8481855.0,7.853450e+09,925.911888,60.601993,10.900000,NaN
43,TKM,5373502.0,3.733423e+10,6947.840023,11.434686,10.500000,NaN
44,TUR,78665830.0,7.182211e+11,9130.026065,102.212531,9.200000,9.900000
45,UKR,45198200.0,9.061502e+10,2114.954716,78.019402,7.700000,9.300000
46,UZB,31299500.0,6.673280e+10,2132.072442,73.576634,10.600000,NaN

In [61]:
CPI_2015_data.groupby('Region').count()['Rank']

Region
ECA      19
WE/EU    31
Name: Rank, dtype: int64

In [4]:
WDI_data['Indicator Prefix 1']=WDI_data['Indicator Code'].str.split('.',expand=True)[0]
WDI_data['Indicator Prefix 2']=WDI_data['Indicator Code'].str.split('.').apply(lambda x: '.'.join(x[:2]))

In [5]:
Cabinets=pd.read_csv('../refdata/cabinets.csv')
euroCountries=Cabinets.country_name_short

In [14]:

WDI_data[WDI_data['Indicator Prefix 1']=='SP'][['Indicator Code','Indicator Name']].drop_duplicates()
WDI_data.drop_duplicates('Indicator Prefix 1')[['Indicator Code','Indicator Name']]
WDI_data[WDI_data['Indicator Name'].str.contains('employment')][['Indicator Code','Indicator Name']].drop_duplicates()

WDI_data[WDI_data['Indicator Code'].str.startswith('SL.UEM.TOTL.')][['Indicator Code','Indicator Name']].drop_duplicates()#['Indicator Name'].tolist()

            Indicator Code                                     Indicator Name
1366     SL.UEM.TOTL.FE.ZS  Unemployment, female (% of female labor force)...
1367  SL.UEM.TOTL.FE.NE.ZS  Unemployment, female (% of female labor force)...
1368     SL.UEM.TOTL.MA.ZS  Unemployment, male (% of male labor force) (mo...
1369  SL.UEM.TOTL.MA.NE.ZS  Unemployment, male (% of male labor force) (na...
1370        SL.UEM.TOTL.ZS  Unemployment, total (% of total labor force) (...
1371     SL.UEM.TOTL.NE.ZS  Unemployment, total (% of total labor force) (...